/* BODY */

body {
    background-color: lightblue;
}

/* HEADINGS */

h1 {
    text-align: center;
    font-size: 4rem;
}

/* FORMS */

.login_form {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.login_form input[type='submit'] {
    margin-top: 20px;
    font-size: 3rem;
    background-color: lightgray;
    width: 500px;
    border: 2px solid black;
}

.login_form label {
    font-size: 2rem;
    display: block;
    background-color: lightgray;
    border: 2px solid black;
    margin: 0 auto 20px;
    width: 400px;
}



/* BUTTONS */

.go_back {
    background-color: lightgray;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
}