html {
  font-family: sans-serif;
}

/* TABLES */
table {
width: 1000px;
margin-left: auto;
margin-right: auto;
}

table, tr{
  border: 1px solid grey;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  text-align: center;
}

a {
  text-decoration: none;
  background-color: lightblue;
  color: black;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
}

a:hover {
  background-color: #5072D4;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* HEADINGS */
h1 {
    text-align: center;
    font-size: 4rem;
}

/* FORMS */
.login_form {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 10%;
}

.login_form input[type='submit'] {
    margin-top: 20px;
    font-size: 25px;
    background-color: lightgray;
    width: 200px;
    border: 2px solid black;
}

.login_form label {
    font-size: 2rem;
    display: block;
    background-color: lightgray;
    border: 2px solid black;
    margin: 0 auto 20px;
    width: 400px;
}

/* BUTTONS */
.go_back {
    background-color: lightgray;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
}
